#portpage {
    position: relative;
    height: 1250px;
}

body {
    font-family: 'Trebuchet MS';
    background-image: url("Images/topography.png")
}

header {
    background-image: url("Images/footer_lodyas.png");
    padding: 5px;   
    color:rgb(255, 174, 0);
    padding-left: 40px;
    font-size: 35px;
    border-bottom:5px solid rgb(255, 174, 0);
    overflow: hidden;
}

h1 {
    margin-top: 40px;
    margin-bottom:40px;
    font-size: 60px;
}
#name {
    width: 500px;
    float: left;
}



a {
    color: rgb(207, 206, 206);
    font-size: 25px
}

#headLink {
    float: left;
    margin-top: 45px;
    margin-left:420px;
    width: 500px;

}

#main {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#abtme {
    width: 650px;
    margin-top: 40px;
    border:2px solid rgb(177, 175, 175);
    background-color: rgb(255, 255, 255);
    float: left;
}
   
#connect {
    width: 270px;
    float: right;
    margin-right: 15px; 
   
}

#reach {
    color:rgb(0, 89, 255);
    margin-top: 37px;
    margin-bottom:0px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(177, 175, 175);
    font-size: 35px;
}

#github_logo {
    margin-top:15px;
    width:80px;

}

#linkedin_logo {
    margin-top:15px;
    width:80px;
    
}

#stackoverflow_logo {
    margin-top:15px;
    width:80px;
}       



#portTi {
    font-size: 40px;
    padding-left:15px;
    margin-top:20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom:20px;
    color: rgb(0, 89, 255);
    border-bottom: 2px solid rgb(109, 108, 108);

}

#container-1 {
    position: relative;
    float:left
}

#hang {
    width: 200px;
    margin-left:83.3px;
    margin-top: 40px;
    /* float:left;   */
}

#upleft {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 22px;
    background-color: rgb(109, 108, 108);
    width:200px;
    bottom:45px;
    left:83.3px;
}

#container-2 {
    position: relative;
    float: left;
   
}

#rpg {
    width: 200px;
    margin-left: 83.3px;
    margin-top: 40px;
    /* float: left; */
}

#upright {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 22px;
    background-color: rgb(109, 108, 108);
    width: 200px;
    bottom:45px;
    left: 83.3px;
}

#container-3 {
    position: relative;
    float:left
}

#trivia {
    width: 200px;
    margin-left: 83.3px;
    margin-top: 40px;
    /* float: left; */
}

#midleft {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 22px;
    background-color: rgb(109, 108, 108);
    width:200px;
    bottom:45px;
    left:83.3px;
}

#container-4 {
    position: relative;
    float:left
}
#rutgers {
    width: 200px;
    margin-left: 83.3px;
    margin-top: 40px;
    /* float: left; */
}

#midright {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 22px;
    background-color: rgb(109, 108, 108);
    width:200px;
    bottom:45px;
    left:83.3px;
}

#container-5 {
    position: relative;
    float:left;
    margin-bottom: 40px;
}
#rps {
    width: 200px;
    margin-left: 83.3px;
    margin-top: 40px;
    /* margin-bottom:40px; */
    /* float: left; */
}

#botleft {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 22px;
    background-color: rgb(109, 108, 108);
    width:200px;
    bottom:45px;
    left:83.3px;
    
}

footer {
    position: absolute;
    background-color: rgb(53, 53, 53);
    text-align: center;
    color: rgb(207, 206, 206);
    border-top: 2px solid rgb(255, 174, 0);
    margin-top:10px;
    padding-top: 20px;
    padding: 20px;
    bottom:0;
    width:100%;
}
